<div class="container">
    <form name="responses" action="/s/take" method="POST">
        <label>Jen's question 1</label>
        <input type="text"></text><br/>
        <input type="submit">
    </form>
</div>
